.primary-color{
    -fx-background-color: #004C99;
}

.secondary-color{
    -fx-background-color: #2F2B43;
}

.background{
    -fx-background-color: white;
}

.quitter-button{
    -fx-background-color: transparent;
}

.quitter-button:hover{
    -fx-text-fill: red;
}

.error{
    -fx-text-fill: #DB524C;
    -fx-background-color: #F2DEDF;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.btn-arrondi{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-color: #004C99;
}

.btn-arrondi:hover{
    -fx-background-color: #04ACFF;
}


.face-button-field{
    -fx-border-color: #999999;
    -fx-border-radius: 5;
}

.input-login-field{
    -fx-border-color: #999999;
}

.forget_password:hover{
    -fx-text-fill: #36C969;
    -fx-font-style: italic;
}

.card{
    -fx-effect: dropshadow(three-pass-box, black, 0, 0, 0, 0);
}

.cadre_head{
    -fx-background-radius: 15;
    -fx-background-color: #330066;
    -fx-border-color: white;
    -fx-border-radius: 15;
}